<h1>Listing games</h1>

<table>
  <tr>
    <th>Player1</th>
    <th>Player2</th>
    <th>Board String</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.player1 %></td>
    <td><%= game.player2 %></td>
    <td><%= game.board_string %></td>
    <td><%= link_to 'Show', game %></td>
  </tr>
<% end %>
</table>

<br />